<a href="/pie/{{id}}" class="col mb-5 d-flex flex-column justify-content-center align-items-center text-decoration-none">
<p class="text-white" style="font-size: 20px;">{{name}}</p>

<div style="width: 200px; height: 200px;">
    <canvas id="myChart{{id}}"></canvas>
</div>

<script>
    // === include 'setup' then 'config' above ===

    let lab{{id}} = "{{labels}}"
    let dat{{id}} = "{{data}}"

    lab{{id}} = lab{{id}}.replace(/&quot;/g,'"');
    dat{{id}} = dat{{id}}.replace(/&quot;/g,'"');

    const data{{id}} = {
        labels: JSON.parse(lab{{id}}),
        datasets: [{
            label: 'My First Dataset',
            data: JSON.parse(dat{{id}}),
            backgroundColor: [
                'rgb(255, 99, 132)',
                'rgb(54, 162, 235)',
                'rgb(255, 205, 86)',
                'green',
                'pink',
                'orange',
            ],
            radius: "100%",
        }]
    };

    const config{{id}} = {
        type: 'pie',
        data: data{{id}},
        options: {
            plugins: {
                legend: {
                    display: false
                },
                tooltip: {
                    enabled: false
                }
            }
        }
    };

    var myChart{{id}} = new Chart(
        document.getElementById('myChart' + {{id}}),
        config{{id}}
    );
</script>
</a>