<div class="container d-flex flex-column align-items-center justify-content-center">

    <h2 class="mt-4">{{data.name}}</h2>

    <div style="width: 400px; height: 400px; padding: 50px;">
        <canvas id="myChart">{{data.id}}</canvas>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

    <div id="vote-group" class="mb-4" data-pie={{data.id}}>
        {{#each data.labels}}
        <button class="button button-rounded-hover" value="{{@index}}"> {{this}} </button>
        {{/each}}
    </div>


    <ul class="list-group">
        {{#each (reverse_array data.votes) as |vote|}}
        <li class="list-group-item"><img src="{{user.profile_img}}" class="" style="width: 50px; height: 50px;" />
            {{user.username}}: {{format_choice ../data.labels choice_new}}</li>
        {{/each}}
    </ul>

</div>

<script>
    // === include 'setup' then 'config' above ===
    tempArray = [{{#each data.labels}} `{{format_string this}}`, {{/each}}]

    tempArray = tempArray.map((el) => {
        newString = el.replace(/&quot;/g,`"`);
        newString = newString.replace(/&#x27;/g,`'`);
        return newString;
    });

    const data = {
        labels: tempArray,
        datasets: [{
            label: 'My First Dataset',
            data: [{{#each data.data}} {{this}}, {{/each}}],
            backgroundColor: [
                'rgb(255, 99, 132)',
                'rgb(54, 162, 235)',
                'rgb(255, 205, 86)',
                'green',
                'pink',
                'orange',
            ],
            hoverOffset: 30,
            radius: "80%"
        }]
    };

    const config = {
        type: 'pie',
        data,
        options: {
            plugins: {
                legend: {
                    labels: {
                    color: "white",
                    font: {
                        size: 16
                    }
                    }
                }
            }
        }
    };

    var myChart = new Chart(
        document.getElementById('myChart'),
        config
    );
</script>

<script src="/js/pie.js"></script>